@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-image: url('../images/main3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.navbar-links {
  text-decoration: none;
  color: white;
  transition: 0.75s;
}

.navbar-links:hover {
  color: #5F5F5F;
  text-decoration: none;
}

.tabs {
  background-color: rgba(0,0,0,0.6);
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 20px;
  text-align: right;
  word-spacing: 50px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

#name-title {
  color: white;
  float: left;
  word-spacing: 0px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

.contact-info {
font-family: 'Raleway', sans-serif;
  font-size: 15pt;
  text-align: left;
  padding: 0px 35px 0px 35px;
  line-height: 1.5;
  margin: 10px 350px 0px 350px;
}

.about, .contact, .projects {
  color: white;
  font-size: 40pt;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.welcome {
  color: white;
  font-size: 40pt;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  line-height: 0.7;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.project-img {
  width: 20%;
  display: inline-block;
  border: 1px solid white;
  margin: 15px;
  border-radius: 8px;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.project-img:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}

.proj-desc {
  font-family: 'Raleway', sans-serif;
  font-size: 13pt;
  text-align: left;
  text-shadow: none;
}

.proj-container {
  border: 8px solid white;
  color: white;
  border-radius: 20px;
  margin: 0px 190px 75px 190px;
  padding: 0px 45px 20px 45px;
  background-color: rgba(0,0,0,0.6);
}

.zoomed-pic {
  width: 75%;
  border: 1px solid white;
}

.personal {
  width: 150px;
  height: auto;
  border: 8px solid white;
  border-radius: 12px;
  float: right;
}

.about-me {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-shadow: none;
  font-size: 13pt;
  text-align: left;
  line-height: 1.5;
}

.fade-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.75), rgba(0, 0, 0, 0));
}



/* RESPONSIVE CSS */

@media (max-width: 750px) {
  div.square {
    width: 90px;
    height: 90px;
    background-color: white;
    display: inline-block;
    margin: 1px;
  }
  main {
    max-height: 100%;
    max-width: 100%;
    margin: 40px;
  }
}



