  <nav class="tabs">
    <span id="name-title">Fran Budiman</span>
    <a ui-sref-active="active" ui-sref="welcome" class="navbar-links">Welcome</a>
    <a ui-sref-active="active" ui-sref="about" class="navbar-links">About</a>
    <a ui-sref-active="active" ui-sref="projects" class="navbar-links">Projects</a>
    <a ui-sref-active="active" ui-sref="contact" class="navbar-links">Contact</a>
  </nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="contact">
    {{main.contact}}
    <br>
    <hr class="fade-line">
    <div class="contact-info">
      <br>Fran Budiman
      <br>Los Angeles, CA
      <br>United States
      <br>Phone: 626-215-4803
      <br>Email: fbudiman14@gmail.com
      <br>Github: www.github.com/fbudiman
      <br>Linkedin: www.linkedin.com/in/franbudiman
      <br>
      <br>
    </div>
  </div>

  <footer class="reg-footer">
    © Fran Budiman 2016
  </footer>
