  <nav class="tabs">
    <span id="name-title">Fran Budiman</span>
    <a ui-sref-active="active" ui-sref="welcome" class="navbar-links">Welcome</a>
    <a ui-sref-active="active" ui-sref="about" class="navbar-links">About</a>
    <a ui-sref-active="active" ui-sref="projects" class="navbar-links">Projects</a>
    <a ui-sref-active="active" ui-sref="contact" class="navbar-links">Contact</a>
  </nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="projects">
    {{main.projects}}
    <br>
    <hr class="fade-line">
    <a ui-sref-active="active" ui-sref="project-one"><img ng-src="{{main.images.one}}" class="img-thumbnail project-img" style="width: 18%; opacity: 0.6;"></a>
    <a ui-sref-active="active" ui-sref="project-two"><img ng-src="{{main.images.two}}" class="img-thumbnail project-img" style="width: 23%;"></a>
    <a ui-sref-active="active" ui-sref="project-three"><img ng-src="{{main.images.three}}" class="img-thumbnail project-img" style="width: 18%; opacity: 0.6;"></a>

    <div class="proj-container">
      <div class="inner-container">
        <h3 style="font-size: 40pt;"><strong>Recipe-It</strong></h3>
          <p class="proj-desc">
            Ever want to recreate your favorite dish from a particular restaurant? Maybe you're craving a certain restaurant dish that is just out of your driving range. Recipe-It is an app that allows users to submit their versions of yummy recipes from restaurants all over the world.
          </p>
          <p class="proj-desc">
            Built With: Ruby on Rails, HTML, CSS, Bootstrap, PostgreSQL
          </p>
        </div>
      <div class="inner-container">
        <img src="images/project2-1.png" class="zoomed-pic">
        <img src="images/project2-2.png" class="zoomed-pic">
        <img src="images/project2-3.png" class="zoomed-pic">
      </div>
    </div>

  </div>

  <footer class="project-footer">
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2"><center>© Fran Budiman 2016</center></div>
      <div class="col-sm-5"></div>
    </div>
  </footer>
