<div class="container">
  <nav class="tabs">
    <span id="name-title">Fran Budiman</span>
    <a ui-sref-active="active" ui-sref="welcome" class="navbar-links">Welcome</a>
    <a ui-sref-active="active" ui-sref="about" class="navbar-links">About</a>
    <a ui-sref-active="active" ui-sref="projects" class="navbar-links">Portfolio</a>
    <a href="views/WebDevResume.pdf" class="navbar-links">Resume</a>
  </nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="welcome">
    <h1 style="font-size: 75pt;">{{main.welcome}}</h1>
    <h4 style="font-size: 40pt;">{{main.description}}</h4>

  </div>

</div>
